/* ********** */
/* Typography */
/* ********** */

.error {
    font-size: 12px;
    color: #ff0000;
    margin-top: 10px;
}
.action-danger,
a.action-danger {
    color: #ff0000;
}
.small-print {
    font-size: 10px;
}
.text-gray {
    color: #aaaaaa;
}
.weight-normal {
    font-weight: normal;
}
.to-uppercase {
    text-transform: uppercase;
    letter-spacing: 0.8px;
}
.to-capitalized {
    text-transform: capitalize;
}

/* ******* */
/* Utility */
/* ******* */

.d-inline {
    display: inline;
}
.d-block {
    display: block;
}
.d-inline-block {
    display: inline-block;
}

.full-width {
    width: 100%;
}

.pl-15 {
    padding-left: 15px;
}
.pr-15 {
    padding-right: 15px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-25 {
    margin-bottom: 25px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-35 {
    margin-bottom: 35px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.mt-30 {
    margin-top: 20px;
}
.mt-35 {
    margin-top: 35px;
}
.mt-40 {
    margin-top: 40px;
}